<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_keyboard_layout" xml:lang="pt-BR">
  <info>
    <link type="guide" xref="index#getting_started"/>
    <link type="next" xref="howto_toggling_caps_lock"/>
    <title type="sort">6. Disposição de teclado</title>
    <desc>Selecionando a disposição de teclado de computador de mesa ou de notebook</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Atribuição Compartilhada Igual 3.0 - Creative Commons</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Conte</mal:name>
      <mal:email>alente.alemao@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>José Vilmar Estácio De Souza</mal:name>
      <mal:email>vilmar@informal.com.br</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>
  <title>Disposição de teclado</title>
  <p>O Orca tem duas disposisções de teclado: computador de mesa (i.e. com um teclado numérico) e notebook. A disposição de teclado escolhida interfere em qual tecla é usada como modificadora do Orca.</p>
  <list>
    <item>
      <p>Se você estiver usando a disposição de teclado de notebook, por padrão, a tecla modificadora do Orca será o <key>CapsLock</key></p>
    </item>
    <item>
      <p>Se você estiver usando a disposição de teclado de computador de mesa, as teclas modificadoras do Orca serão <key>Insert</key> e <key>Insert do teclado numérico</key>, sendo o último a mesma tecla que o <key>0 do teclado numérico</key>.</p>
    </item>
  </list>
  <p>A disposição de teclado determina também os atalhos associados com uma série de comandos do <app>Orca</app>, especialmente os que se referem à revisão plana, Onde Estou e Ler tudo.</p>
  <steps>
    <title>Alterando sua disposição de teclado</title>
    <item>
      <p>Acesse o diálogo <link xref="preferences">Preferências do Orca</link> pressionando <keyseq><key>Tecla modificadora do Orca</key><key>Barra de espaço</key></keyseq>.</p>
    </item>
    <item>
      <p>Vá para o grupo de botões de opção <gui>Disposição de teclado</gui>.</p>
    </item>
    <item>
      <p>Mova para a disposiçãode teclado desejada.</p>
    </item>
    <item>
      <p>Pressione o botão <gui>Aplicar</gui>.</p>
    </item>
  </steps>
</page>
