<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_structural_navigation" xml:lang="de">
  <info>
    <link type="next" xref="commands_table"/>
    <link type="guide" xref="commands#reading_documents"/>
    <link type="seealso" xref="howto_forms"/>
    <title type="sort">2. Strukturennavigation</title>
    <title type="link">Strukturennavigation</title>
    <desc>Befehle für elementweises Navigieren</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2016, 2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sascha Manns</mal:name>
      <mal:email>Sascha.Manns@mailbox.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>
  <title>Befehle der Strukturennavigation</title>
  <p>Die folgenden Befehle können zur Navigation nach Überschriften, Internetlinks und anderen Elementen verwendet werden, die in <app>Orcas</app> struktureller Navigation unterstützt werden.</p>
  <list>
    <item>
      <p>Strukturelle Navigationstasten ein/ausschalten: <keyseq><key>Orca-Zusatztaste</key><key>Z</key></keyseq></p>
    </item>
  </list>
  <section id="headings">
    <title>Überschriften</title>
      <list>
        <item>
          <p>Nächste und vorhergehende Überschrift: <keyseq><key>H</key></keyseq> und <keyseq><key>Umschalt</key><key>H</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der Überschriften anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>H</key></keyseq></p>
        </item>
        <item>
          <p>Nächste und vorhergehende Überschrift oberster Ebene: <keyseq><key>1</key></keyseq> und <keyseq><key>Umschalt</key><key>1</key></keyseq></p>
        </item>
        <item>
          <p>Eine Liste der Überschriften der Ebene 1 anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>1</key></keyseq></p>
        </item>
        <item>
          <p>Nächste und vorhergehende Überschrift zweiter Ebene: <keyseq><key>2</key></keyseq> und <keyseq><key>Umschalt</key><key>2</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der Überschriften der Ebene 2 anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>2</key></keyseq></p>
        </item>
        <item>
          <p>Nächste und vorhergehende Überschrift dritter Ebene: <keyseq><key>3</key></keyseq> und <keyseq><key>Umschalt</key><key>3</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der Überschriften der Ebene 3 anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>3</key></keyseq></p>
        </item>
        <item>
          <p>Nächste und vorhergehende Überschrift vierter Ebene: <keyseq><key>4</key></keyseq> und <keyseq><key>Umschalt</key><key>4</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der Überschriften der Ebene 4 anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>4</key></keyseq></p>
        </item>
        <item>
          <p>Nächste und vorhergehende Überschrift fünfter Ebene: <keyseq><key>5</key></keyseq> und <keyseq><key>Umschalt</key><key>5</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der Überschriften der Ebene 5 anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>5</key></keyseq></p>
        </item>
        <item>
          <p>Nächste und vorhergehende Überschrift sechster Ebene: <keyseq><key>6</key></keyseq> und <keyseq><key>Umschalt</key><key>6</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der Überschriften der Ebene 6 anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>6</key></keyseq></p>
        </item>
      </list>
    </section>
    <section id="forms">
      <title>Formulare</title>
      <list>
        <item>
          <p>Nächstes und vorhergehendes Formularfeld: <keyseq><key>Orca-Zusatztaste</key><key>Tabulator</key></keyseq> und <keyseq><key>Orca-Zusatztaste</key><key>Umschalt</key><key>Tabulator</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der Formularfelder anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>F</key></keyseq></p>
        </item>
        <item>
          <p>Nächster und vorhergehender Knopf: <keyseq><key>B</key></keyseq> und <keyseq><key>Umschalt</key><key>B</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der Knöpfe anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>B</key></keyseq></p>
        </item>
        <item>
          <p>Nächstes und vorhergehendes Auswahlfeld: <keyseq><key>C</key></keyseq> und <keyseq><key>Umschalt</key><key>C</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der Auswahlfelder anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>C</key></keyseq></p>
        </item>
        <item>
          <p>Nächster und vorhergehender Eintrag: <keyseq><key>E</key></keyseq> und <keyseq><key>Umschalt</key><key>E</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der Einträge anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>E</key></keyseq></p>
        </item>
        <item>
          <p>Nächster und vorhergehender Auswahlknopf: <keyseq><key>R</key></keyseq> und <keyseq><key>Umschalt</key><key>R</key></keyseq></p>
        </item>
        <item>
          <p>Eine Liste der Auswahlknöpfe anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>R</key></keyseq></p>
        </item> 
        <item>
          <p>Nächstes und vorhergehendes Ankreuzfeld: <keyseq><key>X</key></keyseq> und <keyseq><key>Umschalt</key><key>X</key></keyseq></p>
        </item>
        <item>
          <p>Eine Liste der Ankreuzfelder anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>X</key></keyseq></p>
        </item> 
      </list>
    </section>
    <section id="links">
    <title>Links</title>
      <list>
        <item>
          <p>Nächster und vorhergehender Link: <keyseq><key>K</key></keyseq> und <keyseq><key>Umschalt</key><key>K</key></keyseq></p>
        </item>
        <item>
          <p>Eine Liste der Links anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>K</key></keyseq></p>
        </item>
        <item>
          <p>Nächster und vorhergehender nicht besuchter Link: <keyseq><key>U</key></keyseq> und <keyseq><key>Umschalt</key><key>U</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der nicht besuchten Links anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>U</key></keyseq></p>
        </item>
        <item>
          <p>Nächster und vorhergehender besuchter Link: <keyseq><key>V</key></keyseq> und <keyseq><key>Umschalt</key><key>V</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der besuchten Links anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>V</key></keyseq></p>
        </item>
      </list>
    </section>
    <section id="lists">
      <title>Listen</title>
      <list>
        <item>
          <p>Nächste und vorhergehende Liste: <keyseq><key>L</key></keyseq> und <keyseq><key>Umschalt</key><key>L</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste aller Listen anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>L</key></keyseq></p>
        </item>
        <item>
          <p>Nächstes und vorhergehendes Listenelement: <keyseq><key>I</key></keyseq> und <keyseq><key>Umschalt</key><key>I</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der Listenelemente anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>I</key></keyseq></p>
        </item>
      </list>
    </section>
    <section id="tables">
      <title>Tabellen</title>
      <list>
        <item>
          <p>Nächste und vorhergehende Tabelle: <keyseq><key>T</key></keyseq> und <keyseq><key>Umschalt</key><key>T</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der Tabellen anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>T</key></keyseq></p>
        </item>
        <item>
          <p>Zelle zur linken: <keyseq><key>Alt</key><key>Umschalt</key><key>Links</key></keyseq></p>
        </item> 
        <item>
          <p>Zelle zur rechten: <keyseq><key>Alt</key><key>Umschalt</key><key>Rechts</key></keyseq></p>
        </item> 
        <item>
          <p>Zelle darüber: <keyseq><key>Alt</key><key>Umschalt</key><key>Hoch</key></keyseq></p>
        </item> 
        <item>
          <p>Zelle darunter: <keyseq><key>Alt</key><key>Umschalt</key><key>Runter</key></keyseq></p>
        </item> 
        <item>
          <p>Erste Zelle in der Tabelle: <keyseq><key>Alt</key><key>Umschalt</key><key>Pos1</key></keyseq></p>
        </item> 
        <item>
          <p>Letzte Zelle in der Tabelle: <keyseq><key>Alt</key><key>Umschalt</key><key>Ende</key></keyseq></p>
        </item> 
      </list>
    </section>
    <section id="text_blocks">
      <title>Textblöcke</title>
      <list>
        <item>
          <p>Nächster und vorhergehender Absatz: <keyseq><key>P</key></keyseq> und <keyseq><key>Umschalt</key><key>P</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der Absätze anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>P</key></keyseq></p>
        </item>
        <item>
          <p>Nächstes und vorhergehendes Zitat: <keyseq><key>Q</key></keyseq> und <keyseq><key>Umschalt</key><key>Q</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der Blockzitate anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>Q</key></keyseq></p>
        </item>
        <item>
          <p>Nächstes und vorhergehendes »großes Objekt«: <keyseq><key>O</key></keyseq> und <keyseq><key>Umschalt</key><key>O</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der »großen Objekte« anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>O</key></keyseq></p>
        </item>
       </list>
    </section>
    <section id="other">
      <title>Weitere Elemente</title>
      <list>
        <item>
          <p>Nächster und vorhergehender Orientierungspunkt: <keyseq><key>M</key></keyseq> und <keyseq><key>Umschalt</key><key>M</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der Orientierungspunkte anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>M</key></keyseq></p>
        </item>
        <item>
          <p>Nächster und vorhergehender Trenner: <keyseq><key>S</key></keyseq> und <keyseq><key>Umschalt</key><key>S</key></keyseq></p>
        </item> 
        <item>
          <p>Nächstes und vorhergehendes »anklickbares Objekt«: <keyseq><key>A</key></keyseq> und <keyseq><key>Umschalt</key><key>A</key></keyseq></p>
        </item> 
        <item>
          <p>Eine Liste der »anklickbaren Objekte« anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>A</key></keyseq></p>
        </item>
        <item>
          <p>Nächstes und vorhergehendes Bild: <keyseq><key>G</key></keyseq> und <keyseq><key>Umschalt</key><key>G</key></keyseq></p>
        </item>
        <item>
          <p>Eine Liste der Bilder anzeigen: <keyseq><key>Alt</key><key>Umschalt</key><key>G</key></keyseq></p>
        </item>
        <item>
          <p>Beginn und Ende des aktuellen Containers: <keyseq><key>Umschalt</key><key>Komma</key></keyseq> und <keyseq><key>Komma</key></keyseq></p>
        </item>
      </list>
    </section>
</page>
