<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_find" xml:lang="de">
  <info>
    <link type="next" xref="commands_mouse"/>
    <link type="guide" xref="commands#reviewing_screen_contents"/>
    <link type="seealso" xref="howto_orca_find"/>
    <title type="sort">2. Orca-Suchdialog</title>
    <title type="link">Orca-Suchdialog</title>
    <desc>Befehle zum Durchsuchen von Fensterinhalten</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2016, 2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sascha Manns</mal:name>
      <mal:email>Sascha.Manns@mailbox.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>
  <title>Orca-Suchbefehle</title>
  <p><app>Orcas</app> <link xref="howto_orca_find">Suchfunktion</link> ermöglicht die Suche im <link xref="howto_flat_review">Übersichts</link>-Kontext nach Elementen im aktuellen Fenster.</p>
  <list>
    <item>
      <p>Den <app>Orca</app>-Suchdialog öffnen:</p>
      <list>
        <item>
          <p>Desktop: <keyseq><key>Entf (Nmblck)</key></keyseq></p>
        </item>
        <item>
          <p>Laptop: <keyseq><key>Orca-Zusatztaste</key><key>Linke eckige Klammer</key></keyseq></p>
        </item>
      </list>
    </item>
    <item>
      <p>Die Übersicht zur nächsten Instanz einer Zeichenkette bewegen:</p>
      <list>
        <item>
          <p>Desktop: <keyseq><key>Orca-Zusatztaste</key><key>Entf (Nmblck)</key></keyseq></p>
        </item>
        <item>
          <p>Laptop: <keyseq><key>Orca-Zusatztaste</key><key>Rechte eckige Klammer</key></keyseq></p>
        </item>
      </list>
    </item>
    <item>
      <p>Die Übersicht zur vorigen Instanz einer Zeichenkette bewegen:</p>
      <list>
        <item>
          <p>Desktop: <keyseq><key>Orca-Zusatztaste</key><key>Umschalt</key><key>Minustaste (Nummernblock)</key></keyseq></p>
        </item>
        <item>
          <p>Laptop: <keyseq><key>Orca-Zusatztaste</key><key>Strg</key><key>Rechte eckige Klammer</key></keyseq></p>
        </item>
      </list>
    </item>
  </list>
</page>
