<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_toggling_caps_lock" xml:lang="de">
  <info>
    <link type="guide" xref="index#getting_started"/>
    <link type="next" xref="howto_key_bindings"/>
    <title type="sort">7. Die Feststelltaste im Laptop-Layout</title>
    <desc>Ein-/ausschalten, wenn es die <key>Orca-Zusatztaste</key> ist</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2016, 2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sascha Manns</mal:name>
      <mal:email>Sascha.Manns@mailbox.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>
  <title>Die Feststelltaste im Laptop-Layout</title>
  <p>Orca kennt zwei Tastaturlayouts: Desktop und Laptop. Die Wahl des Layouts beeinflusst, welche Taste als Orca-Zusatztaste verwendet wird. Falls Sie das Laptop-Layout verwenden, wird die voreingestellte Orca-Zusatztaste die <key>Feststelltaste</key> sein. Falls Sie <app>Orca</app>s Laptop-Layout verwenden und die <key>Feststelltaste</key> ein-/ausschalten wollen, können Sie entweder zweimal die <key>Feststelltaste</key> drücken (erfordert mindestens at-spi2-Version 2.32), oder die folgenden Schritte ausführen:</p>
  <steps>
    <title>Umschalten der Feststelltaste im Laptop-Layout</title>
    <item>
      <p>Drücken Sie den Befehl zum Übergehen, <keyseq><key>Orca-Zusatztaste</key><key>Rücktaste</key></keyseq>, damit <app>Orca</app> den nächsten Befehl ignoriert.</p>
    </item>
    <item>
      <p>Drücken Sie <key>CapsLock</key>, um seinen Status ein- oder auszuschalten.</p>
    </item>
  </steps>
</page>
