<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="preferences_introduction" xml:lang="de">
  <info>
    <title type="sort">0. Einführung in die Einstellungen von <app>Orca</app></title>
    <title type="link">Einführung in die Einstellungen von <app>Orca</app></title>
    <link type="guide" xref="preferences"/>
    <link type="next" xref="preferences_general"/>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2016, 2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sascha Manns</mal:name>
      <mal:email>Sascha.Manns@mailbox.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>
  <title>Einführung in die Einstellungen von <app>Orca</app></title>
  <section id="orca">
    <title>Orca-Einstellungen</title>
    <p>Orca-Einstellungen erlauben Ihnen, Funktionen in <app>Orca</app> anzupassen, die für alle Anwendungen gelten. Ein Beispiel einer Orca-Einstellung ist das Tastaturecho, da das Tastaturecho für alle Anwendungen gilt.</p>
    <p>Beachten Sie. dass Orca-Einstellungen von Anwendung zu Anwendung angepasst werden können. Beispielweise können Sie den Vorgabewert für das Tastaturecho auf wortweises Echo setzen, und in Pidgin auf »kein« setzen. In diesem Fall würde <app>Orca</app> jedes eingetippte Wort vorlesen, außer, Sie befänden sich in Pidgin.</p>
    <note style="tip">
      <title>Tastaturkürzel zum Gelangen in den Orca-Einstellungen-Dialog</title>
      <list>
        <item>
          <p><keyseq><key>Orca-Zusatztaste</key><key>Leertaste</key></keyseq>: Einstellungen von <app>Orca</app></p>
        </item>
        <item>
          <p><keyseq><key>Strg</key><key>Orca-Zusatztaste</key><key>Leertaste</key></keyseq>: Einstellungen von <app>Orca</app> zur aktuellen Anwendung</p>
        </item>
      </list>
    </note>
  </section>
  <section id="application_unique">
    <title>Anwendungsspezifische Einstellungen</title>
      <p>Im Gegensatz zu den Orca-Einstellungen gibt es auch anwendungsspezifische Einstellungen. Diese erlauben Ihnen, Funktionen in <app>Orca</app> anzupassen, die nur in bestimmten Umgebungen, wie etwa Webseiten oder Chat-Anwendungen gelten. Daher finden Sie diese Optionen im anwendungsspezifischen Einstellungen-Dialog in denjenigen Anwendungen, in den diese Optionen gelten.</p>
  </section>
</page>
