<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="preferences_gecko" xml:lang="de">
  <info>
    <link type="guide" xref="preferences#application"/>
    <link type="next" xref="preferences_table_navigation"/>
    <title type="sort">1. Gecko-Navigation</title>
    <title type="link">Gecko-Navigation</title>
    <desc>Einstellungen der <app>Orca</app>-Unterstützung für <app>Firefox</app> und <app>Thunderbird</app></desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2016, 2017, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sascha Manns</mal:name>
      <mal:email>Sascha.Manns@mailbox.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>
  <title>Einstellungen für Gecko-Navigation</title>
  <section id="page_navigation">
    <title>Seitennavigation</title>
    <p>Die Einstellungen zur <gui>Seitennavigation</gui> ermöglichen Ihnen anzupassen, wie <app>Orca</app> Ihnen Text und anderen Inhalt vorliest und erlaubt, damit zu interagieren.</p>
    <section id="page_navigation_control_caret">
      <title>Caret-Navigation verwenden</title>
      <p>Dieses Ankreuzfeld schaltet <app>Orca</app>s Caret-Navigation ein oder aus. Ist sie eingeschaltet, übernimmt <app>Orca</app> die Kontrolle über den Textcursor, während Sie sich auf einer Seite bewegen; ist sie ausgeschaltet, übernimmt Geckos eigene Caret-Navigation.</p>
      <p>Vorgabewert: aktiviert</p>
      <note style="tip">
        <title>Diese Einstellung kann im laufenden Betrieb ein-/ausgeschaltet werden</title>
        <p>Um diese Einstellung im laufenden Betrieb ohne Speichern ein- oder auszuschalten, drücken Sie <keyseq><key>Orca-Zusatztaste</key><key>F12</key></keyseq>.</p>
       </note>
    </section>
    <section id="page_navigation_focus_caret">
      <title>Automatischer Fokus-Modus während Caret-Navigation</title>
      <p>Ist dieses Feld angekreuzt, wird <app>Orca</app> automatisch den Fokus-Modus einschalten, wenn Sie sich mittels Caret-Navigation in ein Formularfeld bewegen. Durch Drücken von <key>Runter</key> könnten Sie beispielsweise einen Eintrag betreten; sobald Sie dies aber getan hätten, würde Orca in den Fokus-Modus wechseln und nachfolgendes Drücken von <key>↓</key> würde nicht mehr von Orca, sondern dem Internet-Browser kontrolliert werden. Ist dieses Feld nicht angekreuzt, würde <app>Orca</app> auch nach Drücken von <key>Runter</key> die Kontrolle behalten, wodurch es möglich ist, den Eintrag zu verlassen und weiterzulesen.</p>
      <p>Vorgabewert: nicht aktiviert</p>
      <note style="tip">
        <title>Manuell zwischen Stöbern-Modus und Fokus-Modus wechseln</title>
        <p>Um die Interaktion mit dem fokussierten Formularfeld zu beginnen oder zu beenden, verwenden Sie <keyseq><key>Orca-Zusatztaste</key><key>A</key></keyseq>, um zwischen Stöbern-Modus und Fokus-Modus zu wechseln.</p>
       </note>
    </section>
    <section id="page_navigation_structural">
      <title>Strukturierte Navigation verwenden</title>
      <p>Dieses Ankreuzfeld schaltet <app>Orca</app>s <link xref="howto_structural_navigation">Strukturennavigation</link> ein/aus. Strukturennavigation erlaubt Ihnen, sich durch Elemente wie Überschriften, Links und Formularfelder zu bewegen.</p>
      <p>Vorgabewert: aktiviert</p>
      <note style="tip">
        <title>Diese Einstellung kann im laufenden Betrieb ein-/ausgeschaltet werden</title>
        <p>Um diese Einstellung im laufenden Betrieb ohne Speichern ein-/auszuschalten, drücken Sie <keyseq><key>Orca-Zusatztaste</key><key>Z</key></keyseq>.</p>
       </note>
    </section>
    <section id="page_navigation_focus_structural">
      <title>Automatischer Fokus-Modus während Strukturnavigation</title>
      <p>Ist dieses Feld angekreuzt, wird <app>Orca</app> automatisch den Fokus-Modus einschalten, wenn Sie sich mittels Strukturennavigation in ein Formularfeld bewegen. Durch Drücken von <key>E</key> könnten Sie beispielsweise einen Eintrag betreten und den Fokus dorthin bewegen; dadurch würden Sie in den Fokus-Modus wechseln, sodass nachfolgendes Drücken von <key>E</key> ein »e« in den Eintrag einfügen würde. Ist dieses Feld nicht angekreuzt, würde <app>Orca</app> Sie im Stöbern-Modus verbleiben lassen, und der nächste Druck von <key>E</key> würde Sie zum nächsten Eintrag führen.</p>
      <p>Vorgabewert: nicht aktiviert</p>
      <note style="tip">
        <title>Manuell zwischen Stöbern-Modus und Fokus-Modus wechseln</title>
        <p>Um die Interaktion mit dem fokussierten Formularfeld zu beginnen oder zu beenden, verwenden Sie <keyseq><key>Orca-Zusatztaste</key><key>A</key></keyseq>, um zwischen Stöbern-Modus und Fokus-Modus zu wechseln.</p>
       </note>
    </section>
    <section id="page_navigation_speak">
      <title>Seite automatisch beim ersten Laden vorlesen</title>
      <p>Ist dieses Feld angekreuzt, wird <app>Orca</app> ein »Alles vorlesen« auf der neu geöffneten Webseite oder E-Mail durchführen.</p>
      <p>Vorgabewert: für Firefox angekreuzt; für Thunderbird nicht angekreuzt</p>
    </section>
    <section id="page_navigation_summary">
      <title>Eine Zusammenfassung einer Seite automatisch beim ersten Laden vorlesen</title>
      <p>Ist dieses Feld angekreuzt, wird <app>Orca</app> Details über die neu geöffnete Webseite oder E-Mail zusammenfassen, wie zum Beispiel die Anzahl an Überschriften, Orientierungspunkten und Links.</p>
      <p>Vorgabewert: für Firefox angekreuzt; für Thunderbird nicht angekreuzt</p>
    </section>
    <section id="page_navigation_layout_mode">
      <title>Layout-Modus für Inhalt aktivieren</title>
      <p>Ist dieses Feld angekreuzt, wird <app>Orca</app>s Caret-Navigation das Layout des sichtbaren Inhalts berücksichtigen und die ganze Zeile, einschließlich jeglicher Links oder Formularfelder in dieser Zeile vorlesen. Ist dieses Feld nicht angekreuzt, wird <app>Orca</app> Objekte wie Links und Formularfelder beim Vorlesen und Navigieren so behandeln, als wären Sie auf eigenen Zeilen.</p>
      <p>Vorgabewert: aktiviert</p>
    </section>
  </section>
  <section id="table_options">
    <title>Tabellenoptionen</title>
    <note>
      <p>Um mehr über <app>Orca</app>s Optionen zur Navigation in Tabellen zu erfahren, lesen Sie die <link xref="preferences_table_navigation">Einstellungen für Tabellennavigation</link>.</p>
    </note>
  </section>
  <section id="find_options">
    <title>Suchoptionen</title>
    <p>Die Befehle unter <gui>Suchoptionen</gui> erlauben Ihnen anzupassen, wie <app>Orca</app> Suchergebnisse der integrierten Suchfunktion vorliest.</p>
    <section id="find_options_speak_during_find">
      <title>Treffer während der Suche vorlesen</title>
      <p>Ist dieses Feld angekreuzt, wird <app>Orca</app> die Zeile vorlesen, die Ihren aktuellen Suchbegriff enthält.</p>
      <p>Vorgabewert: aktiviert</p>
    </section>
    <section id="find_options_speak_changed_lines_during_find">
      <title>Nur veränderte Zeilen während der Suche vorlesen</title>
      <p>Ist dieses Feld angekreuzt, wird <app>Orca</app> eine gefundene Zeile nicht vorlesen, wenn es dieselbe Zeile wie in der vorherigen Übereinstimmung ist. Diese Option ist dafür gedacht, um »nervige« Wiederholungen zu vermeiden, wenn eine Zeile mehrmals die gesuchte Zeichenkette enthält.</p>
      <p>Vorgabewert: nicht aktiviert</p>
    </section>
    <section id="find_options_minimum_match_length">
      <title>Minimale Länge der Trefferübereinstimmung</title>
      <p>Über diesen Einstellknopf können Sie die Anzahl an übereinstimmenden Zeichen einstellen, bevor <app>Orca</app> eine Zeile als Übereinstimmung darstellt. Diese Option ist dafür gedacht, um »nervige« Wiederholungen zu vermeiden, da es beim Tippen ihrer Suchanfrage anfangs viele Übereinstimmungen geben wird.</p>
      <p>Vorgabewert: 4</p>
    </section>
  </section>
</page>
