<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_find" xml:lang="hu">
  <info>
    <link type="next" xref="commands_mouse"/>
    <link type="guide" xref="commands#reviewing_screen_contents"/>
    <link type="seealso" xref="howto_orca_find"/>
    <title type="sort">2. Keresés az Orkával</title>
    <title type="link">Az Orka keresés</title>
    <desc>Parancsok az ablaktartalom kereséséhez</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hammer Attila</mal:name>
      <mal:email>hammera at pickup dot hu</mal:email>
      <mal:years>2011, 2012, 2013, 2014, 2015, 2016</mal:years>
    </mal:credit>
  </info>
  <title>Az Orka keresés billentyűparancsai</title>
  <p>Az <app>Orka</app> <link xref="howto_orca_find">keresés funkciója</link> az <link xref="howto_flat_review">egyszerű áttekintésre</link> épül, amellyel gyorsan megtalálhatók az aktív ablakban lévő objektumok.</p>
  <list>
    <item>
      <p>Az <app>Orka</app> Keresés párbeszédablakának megnyitása:</p>
      <list>
        <item>
          <p>Asztali kiosztás: <keyseq><key>Numpad Del</key></keyseq></p>
        </item>
        <item>
          <p>Laptop kiosztás: <keyseq><key>Orka módosító</key><key>Nyitó szögletes</key></keyseq></p>
        </item>
      </list>
    </item>
    <item>
      <p>A karakterlánc következő előfordulásának keresése:</p>
      <list>
        <item>
          <p>Asztali kiosztás: <keyseq><key>Orka módosító</key><key>Numpad Del</key></keyseq></p>
        </item>
        <item>
          <p>Laptop kiosztás: <keyseq><key>Orka módosító</key><key>Záró szögletes zárójel</key></keyseq></p>
        </item>
      </list>
    </item>
    <item>
      <p>A karakterlánc előző előfordulásának keresése:</p>
      <list>
        <item>
          <p>Asztali kiosztás: <keyseq><key>Orka módosító</key><key>Shift</key><key>Numpad Del</key></keyseq></p>
        </item>
        <item>
          <p>Laptop kiosztás: <keyseq><key>Orka módosító</key><key>Ctrl</key><key>Záró szögletes zárójel</key></keyseq></p>
        </item>
      </list>
    </item>
  </list>
</page>
