<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_reading" xml:lang="gl">
  <info>
    <link type="next" xref="commands_structural_navigation"/>
    <link type="guide" xref="commands#reading_documents"/>
    <link type="seealso" xref="howto_documents"/>
    <link type="seealso" xref="howto_text_attributes"/>
    <link type="seealso" xref="howto_whereami"/>
    <title type="sort">1. Reading</title>
    <title type="link">Reading</title>
    <desc>
      Commands for accessing document content
    </desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  </info>
  <title>Ordes de lectura</title>
  <p>
    In addition to the caret navigation commands which are part of GNOME,
    <app>Orca</app> provides a number of commands which you can use to read a
    document.
  </p>
  <note style="tip">
    <p>
      In the lists that follow, you will see several references to "KP". All
      "KP" keys are located on the numeric keypad. You will also notice that
      there are different keystrokes depending upon whether you are using a
      desktop or a laptop -- or more accurately, whether you are using
      <app>Orca</app>'s Desktop keyboard layout or its Laptop keyboard layout.
      For additional information, please see the
      <link xref="howto_keyboard_layout">Keyboard Layout</link> topic.
    </p>
  </note>
  <section id="flat_review">
    <title>Ler a súa localización actual</title>
    <p>
      The following <app>Orca</app> <link xref="commands_flat_review">Flat
      Review Commands</link> can be used to read your current location:
    </p>
    <list>
      <item>
        <p>Ler a liña actual:</p>
        <list>
          <item>
            <p>
              Desktop: <keyseq><key>KP 8</key></keyseq>
            </p>
          </item>
          <item>
            <p>
              Laptop: <keyseq><key>Orca Modifier</key><key>I</key></keyseq>
            </p>
          </item>
        </list>
      </item>
      <item>
        <p>Ler a palabra actual:</p>
        <list>
          <item>
            <p>
              Desktop: <keyseq><key>KP 5</key></keyseq>
            </p>
          </item>
          <item>
            <p>
              Laptop: <keyseq><key>Orca Modifier</key><key>K</key></keyseq>
            </p>
          </item>
        </list>
      </item>
      <item>
        <p>Ler a palabra actual:</p>
        <list>
          <item>
            <p>
              Desktop: <keyseq><key>KP 5</key></keyseq> (double-clicked)
            </p>
          </item>
          <item>
            <p>
              Laptop: <keyseq><key>Orca Modifier</key><key>K</key></keyseq>
              (double-clicked)
            </p>
          </item>
        </list>
      </item>
      <item>
        <p>Phonetically spell the current word:</p>
        <list>
          <item>
            <p>
              Desktop: <keyseq><key>KP 5</key></keyseq> (triple-clicked)
            </p>
          </item>
          <item>
            <p>
              Laptop: <keyseq><key>Orca Modifier</key><key>K</key></keyseq>
              (triple-clicked)
            </p>
          </item>
        </list>
      </item>
      <item>
        <p>Ler o caracter actual:</p>
        <list>
          <item>
            <p>
              Desktop: <keyseq><key>KP 2</key></keyseq>
            </p>
          </item>
          <item>
            <p>
              Laptop: <keyseq><key>Orca Modifier</key><key>Comma</key></keyseq>
            </p>
          </item>
        </list>
      </item>
      <item>
        <p>Phonetically speak the current character:</p>
        <list>
          <item>
            <p>
              Desktop: <keyseq><key>KP 2</key></keyseq> (double-clicked)
            </p>
          </item>
          <item>
            <p>
              Laptop: <keyseq><key>Orca Modifier</key><key>Comma</key></keyseq>
              (double-clicked)
            </p>
          </item>
        </list>
      </item>
      <item>
        <p>Speak the Unicode value of current character:</p>
        <list>
          <item>
            <p>
              Desktop: <keyseq><key>KP 2</key></keyseq> (triple-clicked)
            </p>
          </item>
          <item>
            <p>
              Laptop: <keyseq><key>Orca Modifier</key><key>Comma</key></keyseq>
              (triple-clicked)
            </p>
          </item>
        </list>
      </item>
    </list>
  </section>
  <section id="say_all">
    <title>Ler todo</title>
    <p>
      Orca's Say All command will cause <app>Orca</app> to speak the
      entire document beginning from your current location.
    </p>
    <list>
      <item>
        <p>Desktop: <key>KP Plus</key></p>
      </item>
      <item>
        <p>
          Laptop: <keyseq><key>Orca Modifier</key><key>Semicolon</key></keyseq>
        </p>
      </item>
    </list>
  </section>
  <section id="attributes_and_selection">
    <title>Atributos de texto e texto seleccionado</title>
    <p>
      <app>Orca</app> has a dedicated command for obtaining the attributes of the
      text at the caret location. In addition, if you use <app>Orca</app>'s
      Where Am I commands from within a text object in which text has been
      selected, <app>Orca</app> will announce the selected text. <app>Orca</app>'s
      command to speak the current selection will also perform this function in a
      text object.
    </p>
    <list>
      <item>
        <p>
          Present the text attributes:
          <keyseq><key>Orca Modifier</key><key>F</key></keyseq>
        </p>
      </item>
      <item>
        <p>Perform basic where am I:</p>
        <list>
          <item>
            <p>
              Desktop: <key>KP Enter</key>
            </p>
          </item>
          <item>
            <p>
              Laptop: <keyseq><key>Orca Modifier</key><key>Return</key></keyseq>
            </p>
          </item>
        </list>
    </item>
    <item>
      <p>Perform detailed where am I:</p>
      <list>
        <item>
          <p>
            Desktop: <key>KP Enter</key> (double-clicked)
          </p>
        </item>
        <item>
          <p>
            Laptop: <keyseq><key>Orca Modifier</key><key>Return</key></keyseq>
            (double-clicked)
          </p>
        </item>
      </list>
    </item>
    <item>
      <p>
        Speak current selection:
        <keyseq><key>Orca Modifier</key><key>Shift</key><key>Up</key></keyseq>
      </p>
    </item>
  </list>
  </section>
  <section id="link_details">
    <title>Link Details</title>
    <p>
      If you are on a link, <app>Orca</app>'s Basic Where Am I command can be
      used to announce the details associated with the link such as the link type,
      if the link is visited, the site description, and file size. If you would
      instead prefer dedicated command for this purpose, you can bind <app>Orca</app>'s
      Speak Link Details command to a keystroke. Please see <link xref="howto_key_bindings">
      Modifying Keybindings</link> for information on how to do so.
    </p>
    <list>
      <item>
        <p>Speak the link details: (Unbound)</p>
      </item>
    </list>
  </section>
  <section id="browse_and_focus_modes">
    <title>Browse and Focus Modes</title>
    <p>
      <app>Orca</app>'s Browse and Focus modes let you switch between reading and
      interacting with web content.
    </p>
    <list>
      <item>
        <p>
          Switch between browse mode and focus mode:
          <keyseq><key>Orca Modifier</key><key>A</key></keyseq>
        </p>
      </item>
      <item>
        <p>
          Enable "sticky" focus mode:
          <keyseq><key>Orca Modifier</key><key>A</key></keyseq> (double-clicked)
        </p>
      </item>
      <item>
        <p>
          Enable "sticky" browse mode:
          <keyseq><key>Orca Modifier</key><key>A</key></keyseq> (triple-clicked)
        </p>
      </item>
    </list>
  </section>
</page>
