<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_toggling_caps_lock" xml:lang="gl">
  <info>
    <link type="guide" xref="index#getting_started"/>
    <link type="next" xref="howto_key_bindings"/>
    <title type="sort">7. CapsLock in Laptop Layout</title>
    <desc>Toggling it when it is the <key>Orca Modifier</key></desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  </info>
  <title>BloqMaiús na disposición do portátil</title>
  <p>
    Orca has two keyboard layouts: Desktop and Laptop. The layout you choose
    impacts which key is used as the Orca Modifier. If you are using the Laptop
    layout, the default Orca Modifier will be <key>CapsLock</key>. If you are
    using <app>Orca</app>'s Laptop Layout and want to lock or unlock
    <key>CapsLock</key>, you can do so by either typing <key>CapsLock</key>
    twice (requires at-spi2 version 2.32 or later), or by performing the
    following steps:
  </p>
  <steps>
    <title>Toggling CapsLock in Laptop Layout</title>
    <item>
      <p>
        Press the Bypass command, <keyseq><key>Orca Modifier</key><key>BackSpace</key>
        </keyseq>, to tell <app>Orca</app> that the next command should be ignored.
      </p>
    </item>
    <item>
      <p>Press <key>CapsLock</key> to toggle its locked state.</p>
    </item>
  </steps>
</page>
