<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="preferences_key_bindings" xml:lang="gl">
  <info>
    <link type="guide" xref="preferences#orca"/>
    <link type="next" xref="preferences_pronunciation"/>
    <link type="seealso" xref="howto_key_bindings"/>
    <title type="sort">6. Key Bindings</title>
    <title type="link">Key Bindings</title>
    <desc>
      Configuring <app>Orca</app>'s keyboard shortcuts
    </desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  </info>
  <title>Preferencias de atallos de teclado</title>
  <section id="orca_modifier_keys">
    <title>Teclas de modificación de Orca</title>
    <p>
      The <gui>Screen Reader Modifier Keys</gui> combo box allows you to select which
      key or keys will serve as the Orca Modifier. The available options are:
    </p>
    <list>
      <item>
        <p>
          <gui>KP_Insert</gui> (the same key as the <key>0</key> on the
          numeric keypad)
      </p></item>
      <item><p><gui>Insert</gui></p></item>
      <item><p><gui>Insert, KP_Insert</gui></p></item>
      <item><p><gui>Caps_Lock</gui></p></item>
    </list>
  </section>
  <section id="key_bindings_table">
    <title>A táboa de atallos de teclado</title>
    <p>
      The key bindings table provides a list of <app>Orca</app> operations
      and the keys that are bound to them.
    </p>
    <list>
      <item>
        <p>
          The <gui>Function</gui> column contains a description of the
          <app>Orca</app> command to be performed.
        </p>
      </item>
      <item>
        <p>
          The <gui>Key Binding</gui> column contains the keyboard shortcut currently
          assigned to the <app>Orca</app> command. You can modify the value of
          this column by pressing <key>Return</key>, pressing the keys for the
          new binding, and pressing <key>Return</key> again.
        </p>
      </item>
      <item>
        <p>
          The <gui>Modified</gui> column serves both as an indicator to what
          has been changed and as a way to restore the default bindings
          associated with that function.
        </p>
      </item>
    </list>
    <p>
      Beneath the list of <app>Orca</app> keybindings, you will find a group
      of "unbound" commands. These are commands which we feel will be very
      useful for some users, but not needed by most users. Rather than "use
      up" a keystroke for such commands, we have left them unassigned by
      default. At the end of the list are the braille bindings, for use with
      a refreshable braille display.
    </p>
  </section>
</page>
