<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_where_am_i" xml:lang="sl">
  <info>
    <link type="next" xref="commands_time_date_notifications"/>
    <link type="guide" xref="commands#getting_started"/>
    <link type="seealso" xref="howto_whereami"/>
    <title type="sort">3. Kje sem</title>
    <title type="link">Kje sem</title>
    <desc>Ukazi za učenje o vašem trenutnem mestu</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons deljenje pod enakimi pogoji 3.0</p>
    </license>
  </info>
  <title>Ukazi opravila kje sem</title>
  <p><app>Orkina</app> zmožnost Kje sem, vam da na vsebino občutljive podrobnosti o vašem trenutnem mestu. Na primer v razpredelnicah vam Kje sem da podrobnosti o celici razpredelnice v kateri ste. V besedilu pa vam predstavi trenutno vrstico in morebitno trenutno izbrano besedilo. Poln seznam stvari, ki vam jih bo <app>Orka</app> predstavila, lahko najdete v <link xref="howto_whereami">Uvod v Kje sem jaz</link>.</p>
  <p><app>Orca</app> zagotavlja naslednje ukaze Kje sem:</p>
  <list>
    <item>
      <p>Izvedi enostavno opravilo kje sem:</p>
      <list>
        <item>
          <p>Namizje: <key>Vnos KP</key></p>
        </item>
        <item>
          <p>Prenosnik: <keyseq><key>Spremenilna tipka</key><key>Vnosna tipka</key></keyseq></p>
        </item>
      </list>
    </item>
    <item>
      <p>Izvedi podrobno opravilo kje sem:</p>
      <list>
        <item>
          <p>Namizni računalnik: <key>KP Vnosna tipka</key> (dvakrat kliknjeno)</p>
        </item>
        <item>
          <p>Prenosnik: <keyseq><key>Spremenilna tipka Orka</key><key>Vnosna tipka</key></keyseq> (double-clicked)</p>
        </item>
      </list>
    </item>
  </list>
  <p>Poleg nameskih ukazov Kje sem ima <app>Orka</app> dva dodatna ukaza povezana s pridobivanjem vašega trenutnega mesta:</p>
  <list>
    <item>
      <p>Predstavi naslovno vrstico:</p>
      <list>
        <item>
          <p>Namizni računalnik: <keyseq><key>Spremenilna tipka Orka</key><key>NT Vnašalka</key></keyseq></p>
        </item>
        <item>
          <p>Prenosnik: <keyseq><key>Spremenilna tipka Orka</key><key>Poševnica</key></keyseq></p>
        </item>
      </list>
    </item>
    <item>
      <p>Pokaži vrstico stanja:</p>
      <list>
        <item>
          <p>Namizni računalnik: <keyseq><key>Spremenilna tipka Orka</key><key>NT Vnašalka</key></keyseq> (dvakrat kliknjeno)</p>
        </item>
        <item>
          <p>Prenosnik: <keyseq><key>Spremenilna tipka Orka</key><key>Poševnica</key></keyseq> (dvakrat kliknjeno)</p>
        </item>
      </list>
    </item>
  </list>
</page>
