<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_keyboard_layout" xml:lang="es">
  <info>
    <link type="guide" xref="index#getting_started"/>
    <link type="next" xref="howto_toggling_caps_lock"/>
    <title type="sort">6. Distribución del teclado</title>
    <desc>Seleccionar la distribución de escritorio o portátil</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>
  <title>Distribución del teclado</title>
  <p>Orca tiene dos distribuciones de teclado: escritorio (es decir, con un teclado numérico) y portátil. La distribución que elige afecta a qué tecla se usa como modificador de Orca.</p>
  <list>
    <item>
      <p>Si está usando la distribución de portátil, el Modificador de Orca predeterminado será <key>Bloq Mayús</key></p>
    </item>
    <item>
      <p>Si está usando la distribución de escritorio, el Modificador de Orca será tanto <key>Ins</key> como <key>TN Ins</key>, esta última es la misma tecla que <key>TN 0</key>.</p>
    </item>
  </list>
  <p>La distribución también determina las pulsaciones de teclas asociadas a un número de comandos de <app>Orca</app>, especialmente en las áreas de «Revisión», «¿Dónde estoy?» y «Hablar todo».</p>
  <steps>
    <title>Cambiar la distribución de su teclado</title>
    <item>
      <p>Entre en el diálogo de <link xref="preferences">Preferencias de Orca</link> pulsando <keyseq><key>Modificador de Orca</key><key>Espacio</key></keyseq>.</p>
    </item>
    <item>
      <p>Vaya al grupo de botones de radio <gui>Distribución de teclado</gui>.</p>
    </item>
    <item>
      <p>Seleccione la distribución que quiere.</p>
    </item>
    <item>
      <p>Pulse el botón <gui>Aplicar</gui>.</p>
    </item>
  </steps>
</page>
