<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="introduction" xml:lang="bg">
  <info>
    <link type="guide" xref="index#getting_started"/>
    <link type="next" xref="howto_setting_up_orca"/>
    <title type="sort">1. Добре дошли в Orca</title>
    <desc>Представяне на екранния четец <app>Orca</app></desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Признание-Споделяне на споделеното 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Захари Юруков</mal:name>
      <mal:email>zahari.yurukov@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Александър Шопов</mal:name>
      <mal:email>ash@kambanaria.org</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>
  <title>Добре дошли в Orca</title>
  <p><app>Orca</app> е свободен, с отворен изходен код, гъвкав и разширяем екранен четец, който предоставя достъп до графичната среда чрез реч и брайл.</p>
  <p><app>Orca</app> работи с приложения и инструменти, които поддържат Assistive Technology Service Provider Interface (AT-SPI), който е основната инфраструктура за достъпност в Linux и Solaris. Приложения и инструменти поддържащи AT-SPI включват GNOME Gtk+ toolkit, Java platform's Swing toolkit, LibreOffice, Gecko, и WebKitGtk. Поддръжката на AT-SPI за KDE Qt toolkit е в процес на разработка.</p>
  <section id="launching">
    <title>Стартиране на <app>Orca</app></title>
    <p>За да стартирате <app>Orca</app>:</p>
    <list>
      <item>
        <p>Начините за настройване на <app>Orca</app>, да се стартира автоматично като предпочитан екранен четец, зависят от графичната среда, която използвате. Например, в GNOME 3.x тази възможност може да бъде открита в панела на контролния център Универсален достъп на страницата <gui>Зрение</gui>.</p>
      </item>
      <item>
        <p>За да включите и изключите <app>Orca</app> в GNOME, натиснете <keyseq><key>Super</key><key>Alt</key><key>S</key></keyseq>.</p>
      </item>
      <item>
        <p>Въведете <cmd>orca</cmd>, заедно с желаните от вас параметри, в терминален прозорец или в прозореца <gui>Изпълнение</gui> и натиснете <key>Return</key>.</p>
      </item>
    </list>
  </section>
    <section id="loadtime">
      <title>Параметри при стартиране</title>
      <p>Можете да зададете следните параметри при стартиране на <app>Orca</app> в терминален прозорец или от прозореца <gui>Изпълнение</gui>:</p>
      <list>
        <item>
          <p><cmd>-h</cmd>, <cmd>--help</cmd>: показва помощното съобщение</p>
        </item>
        <item>
          <p><cmd>-v</cmd>, <cmd>--version</cmd>: показва версията на <app>Orca</app></p>
        </item>
        <item>
          <p><cmd>-s</cmd>, <cmd>--setup</cmd>: задаване на потребителските настройки</p>
        </item>
        <item>
          <p><cmd>-u</cmd>, <cmd>--user-prefs=<em>dirname</em></cmd>: използване на <em>dirname</em> като алтернативна папка за потребителските настройки</p>
        </item>
        <item>
          <p><cmd>-e</cmd>, <cmd>--enable=<em>ОПЦИЯ</em></cmd>: принудително използване на <em>ОПЦИЯ</em>та, където тя може да бъде някое от следните:</p>
          <list>
            <item><p><cmd>speech</cmd></p></item>
            <item><p><cmd>braille</cmd></p></item>
            <item><p><cmd>braille-monitor</cmd></p></item>
          </list>
        </item>
        <item>
          <p><cmd>-d</cmd>, <cmd>--disable=<em>ОПЦИЯ</em></cmd>: предотвратява използването на <em>ОПЦИЯ</em>та, където тя може да бъде някое от следните:</p>
          <list>
            <item><p><cmd>speech</cmd></p></item>
            <item><p><cmd>braille</cmd></p></item>
            <item><p><cmd>braille-monitor</cmd></p></item>
          </list>
        </item>
        <item>
            <p><cmd>-p</cmd>, <cmd>--profile=<em>filename</em></cmd>: внасяне на профил от даден файл с профил на <app>Orca</app></p>
        </item>
        <item>
          <p><cmd>-r</cmd>, <cmd>--replace</cmd>: замяна на текущо стартирано копие на <app>Orca</app></p>
        </item>
        <item>
          <p><cmd>-l</cmd>, <cmd>--list-apps</cmd>: извеждане на известните стартирани приложения</p>
        </item>
        <item>
          <p><cmd>--debug</cmd>: пренасочване на изхода за отстраняване на грешки към файл debug-YYYY-MM-DD-HH:MM:SS.out</p>
        </item>
        <item>
          <p><cmd>--debug-file=<em>filename</em></cmd>: пренасочване на изхода за отстраняване на грешки към посочения файл</p>
        </item>
      </list>
    </section>

</page>
